body { 
    background-color: whitesmoke;
    border: 2px solid black;
}
.logo, p {
    display: inline-block;
}
.logo {
    margin-left: 500px;
}
p {
    text-align: center; 
   font-size: 30px;
   font-family: Agency FB; 
}
.name {
    text-align: center; 
    font-size: 70px;
    font-family: Agency FB; 
 }
 nav {
    background-color: rgb(90, 90, 86);
    text-align: center;
    margin-bottom: 5px;
}
.nav {
    color: whitesmoke;
    padding-right: 30px;
    display: inline-block;
    padding-left: 10px;
    font-family: Agency FB;
    font-size: xx-large;
}
.nav:hover, a:hover {
    background-color: lightseagreen;
}
.form {
    border: 2px solid black;
    height: 450px;
    width: 450px;
    margin-left: 550px;
    
}
h3 {
    margin-left: 60px;
    font-family: Agency FB;
    font-size: x-large;
}
h1 {
    text-align: center;
    font-family: Agency FB;
    font-size: xxx-large;
    padding-top: 20px;
}
.select, .input1 {
    border: 2px solid black;
    margin-left: 60px;
    height: 30px;
    width: 300px;
}
.btn {
    border: 2px solid black;
    margin-left: 100px;
    height: 30px;
    width: 120px;
}
.btn1 {
    border: 2px solid black;
    margin-left: 10px;
    height: 30px;
    width: 120px;
}
.anchor {
    text-align: right;
    margin-right: 40px;
    font-size: xx-large;
    font-family: Agency FB;
}
