body { 
    background-color: whitesmoke;
    border: 2px solid black;
}
.logo, p {
    display: inline-block;
}
.logo {
    margin-left: 500px;
}
p {
    text-align: center; 
   font-size: 30px;
   font-family: Agency FB; 
}
.name {
    text-align: center; 
    font-size: 70px;
    font-family: Agency FB; 
 }
nav {
    background-color: rgb(90, 90, 86);
    text-align: center;
    margin-bottom: 5px;
}
.nav {
    color: whitesmoke;
    padding-right: 30px;
    display: inline-block;
    padding-left: 10px;
    font-family: Agency FB;
    font-size: xx-large;
}
.nav:hover, #btn1:hover {
    background-color: lightseagreen;
}
.art:hover {
    background-color: lightsteelblue;
    direction: ltr;
}
h2 {
    padding-left: 50px;
    font-family: Agency FB; 
    font-size: 28px;
}
.details, .amount, .history {
    float: right;
    padding-right: 200px;
}
#btn {
    font-family: Agency FB;
    font-size: large;
}
#btn1 {
    background-color: rgb(209, 209, 203);
    font-family: Agency FB;
    border: 2px double;
    border-color: grey;
    cursor: pointer;
}
pre {
    font-family: Agency FB; 
    font-size: 20px;
    padding-left: 200px;
    padding-right: 250px;
    padding-bottom: 2px;
}
pre, .details {
    display: inline-block;
}
pre, .amount {
    display: inline-block;
}
pre, .history {
    display: inline-block;
}
.details img {
    border: grey;
    border-style: double;
 }
 .amount img {
     border: grey;
     border-style: double;
  }
  .history img {
     border: grey;
     border-style: double;
 }
h4 {
    text-align: center;
    font-family: Agency FB;
}


